:root {
  --blue-light: #ceedf3;
  --blue-dark: #0d74a2;
  --green-light: #d3efdf;
  --green-dark: #118d57;

  --bar-color-1: #fff5eb;
  --bar-color-2: #fee6ce;
  --bar-color-3: #fdd0a2;
  --bar-color-4: #fdae6b;
  --bar-color-5: #fd8d3c;
  --bar-color-6: #f16913;
  --bar-color-7: #d94801;
  --bar-color-8: #a63603;
  --bar-color-9: #7f2704;
}
